body {
    background-color: rgba(0,255,0,0.2);
}
h1 {
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(151, 35, 151);
    font-size: 300%;
    text-align: center;
} 

h3 {
    text-align: center;
    font-size: xx-large;
}

.center {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 65%;
}


